# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/

# Secrets - BE SPECIFIC HERE
server/neural-house-489802-m5-51bf90f3d04a.json
.env
.env.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store